<!DOCTYPE html>
<html lang="en">
<head>
    <title>S3 Browser</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="/static/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <script type="text/javascript" src="/static/js/admin_logs.js"></script>
    <img src="/static/logo.png" alt="Logo" class="logo">
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div class="user-info">
        <span><b>{{ name }}</b></span><br>
        <span>{{ mail }}</span><br>
        <span><a class="logout-btn" href="/admin/logout">Logout</a></span>
    </div>

    <div id="user-info">
        <b>Name: </b><span id="user-name"></span><br>
        <b>Role: </b><span id="user-role"></span><br>
        <b>Mail: </b><span id="user-mail"></span><br>
        <b>Phone: </b><span id="user-phone"></span>
        <button id="close-user-info-btn" class="close-user-info-btn" type="button">Close</button>
    </div>

    <div align="center" class="main-view">
        <p class="table-name">
            <a class="menu-button" href="/admin/users">Users</a>
            <a class="menu-button" href="/admin/buckets">Buckets</a>
            <a class="menu-button" href="/admin/permissions">Permissions</a>
            <a class="menu-button menu-button-active" href="#">Logs</a>
        </p>

        <table class="users-table">
            <thead>
                 <tr>
                    <th style="color: #C0FF72; font-size: 20px; width: 15%">Date</th>
                    <th style="color: #C0FF72; font-size: 20px">User</th>
                    <th style="color: #C0FF72; font-size: 20px; width: 60%">Action</th>
                </tr>
            </thead>
            <tbody>
                {% if logs %}
                    {% for log in logs %}
                        <tr class="user-row user-item">
                            <td>{{ log[0] }}</td>
                            <td><a class="user-item" style="cursor: pointer;" value="{{ log[1] }}">{{ log[1] }}</a></td>
                            <td>{{ log[2] }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</body>
</html>
