<!DOCTYPE html>
<html lang="en">
<head>
    <title>S3 Browser</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="/static/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- <script type="text/javascript" src="/static/js/admin.js"></script> -->
    <img src="/static/logo.png" alt="Logo" class="logo">
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div class="user-info">
        <span><b>{{ name }}</b></span><br>
        <span>{{ mail }}</span><br>
        <span><a class="logout-btn" href="/admin/logout">Logout</a></span>
    </div>
    <div align="center" class="main-view">
        <p class="table-name">
            <a class="menu-button" href="/admin/users">Users</a>
            <a class="menu-button" href="/admin/buckets">Buckets</a>
            <a class="menu-button menu-button-active" href="#">Permissions</a>
            <a class="menu-button" href="/admin/logs">Logs</a>
        </p>
        <table class="permissions-table">
            <thead>
                 <tr>
                    <th style="color: #C0FF72; font-size: 20px;">Role</th>
                    <th style="color: #C0FF72; font-size: 20px; width: 70%">Buckets</th>
                </tr>
            </thead>
            <tbody>
                {% if permissions %}
                    {% for role in permissions %}
                        <tr class="permission-row permission-item">
                            <td><a class="permission-item" style="cursor: pointer;" value="{{ role }}">{{ role }}</a></td>
                            <td>
                                {% for bucket in permissions[role] %}
                                    {% if bucket == '*' %}
                                        <span>{{ all_buckets }}</span>
                                    {% else %}
                                        <span>{{ bucket }} |</span>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
        </table>
    </div>
</body>
</html>
